<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./head') %>
</head>

<body>
  <footer class="text-center">
    Desafio Motores de Plantillas - Facundo Faccioli 2022
  </footer>
</body>

</html>