div(class="container")
  nav(class="navbar navbar-expand-lg navbar-light bg-light")
    a(href="/", class="navbar-brand") PUG 
    button(type="button", class="navbar-toggler", data-toggle="collapse", data-target="#navbarNav")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse", id="navbarNav")
      ul(class="navbar-nav")
        li(class="nav-item")
          a(href="/productos", class="nav-link") Productos
        li(class="nav-item")
          a(href="/form", class="nav-link") Formulario
