<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body>
  <div class="container">
    <%- include('./partials/header', { current: 'home' }) %>
  </div>
  <div class="container">

  </div>
  <div class="container">
    <%- include('./partials/footer') %>
  </div>
</body>

</html>